.card{
  padding: 0 10px;
  margin: 0;
  width: 23.5%;
  box-sizing: border-box;
  margin-bottom: 1rem;
  min-height: 150px;
  display: flex;
  flex-direction: column-reverse;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  cursor: pointer;
    }

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
.card p{
  margin: 0 0 10px 0;
  font-size: 14px;
  font-weight: bold;
  color: white; /* Ensure text is white on dark background */
  position: relative;
  z-index: 1;
}
@media(max-width:1199px){
  .card{
    width: 32%;
  }
}
@media(max-width:768px){
  .card{
    width: 49%;
  }
}