.banner-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.banner-slides {
  display: flex;
  transition: transform 0.5s ease;
  padding: 0;
  width: 100%;
  cursor: pointer;
}

.banner-slide {
  flex: 0 0 100%;
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: center;
}
.banner-slide p{
  position: absolute;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.589);
  padding: 10px;
  border-radius: 10px;
}
.banner-slide img {
  width: 80%;
  max-height: 400px;
  display: block;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}